@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display";
    font-size: 16px;
    line-height: 1.3;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-position: top;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(224, 23%, 55%);
}

.container {
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1), -2px -2px 30px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container #hero {
    max-width: inherit;
    position: relative;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 25px;
}

.order-summary-text {
    margin: 0;
}

.order-summary-text, .annual-plan h4 {
    color: #000000;
    font-weight: bold;
}

.plan-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: hsl(225, 100%, 98%);
    padding: 0 25px;
    margin: 10px 0 30px;
    border-radius: 10px;
}

#icon-music {
    width: 50%;
    height: 50%;
}

.annual-plan-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.annual-plan h4, .annual-plan p {
    padding: 0;
    margin: 0 10px;
}

.change-btn {
    color: hsl(245, 75%, 52%);
    font-weight: bold;
}

.change-btn:active {
    color: hsl(245, 83%, 68%);
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.proceed-payment, .cancel-order {
    border: none;
    border-radius: 10px;
    padding: 15px 0;
    font-family: inherit;
    font-weight: bolder;
}

.proceed-payment {
    background: hsl(245, 75%, 52%);
    color: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

.proceed-payment:active {
    background: hsl(245, 83%, 68%);
}

.cancel-order {
    background: transparent;
    color: inherit;
}

.cancel-order:active {
    color: #000000;
}

@media screen and (max-width: 375px) {
    .container {
        width: 87%;
    }

    .proceed-payment {
        margin-bottom: 5px;
    }

    .contents {
        padding: 40px 25px 10px;
    }
    
}